 
  .popper,
  .tooltip {
    position: absolute;
    z-index: 9999;
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 5px;
    text-align: center;
  }
  .style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
  }
  .popper .popper__arrow,
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
  }

  .tooltip .tooltip-arrow,
  .popper .popper__arrow {
    border-color: rgba(0,0,0,0.7);
  }
  .style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
  }
  .popper[x-placement^="top"],
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  .popper[x-placement^="top"] .popper__arrow,
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .popper[x-placement^="bottom"],
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  .tooltip[x-placement^="bottom"] .tooltip-arrow,
  .popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .tooltip[x-placement^="right"],
  .popper[x-placement^="right"] {
    margin-left: 5px;
  }
  .popper[x-placement^="right"] .popper__arrow,
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  .popper[x-placement^="left"],
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  .popper[x-placement^="left"] .popper__arrow,
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }

 
.tip-bubble
        {
            font-size: 1.0em;
            padding: 4px 8px 4px 8px;
            text-align: center;
            position: fixed;
            z-index: 1000;
            border-radius: 2px;
            display: inline-block;
            opacity: 0;
            max-width: 300px;
        }

        .tip-bubble:after
        {
            content: '';
            position: absolute;
            margin-left: -8px;
            width: 0;
            height: 0;
        }

        .tip-bubble-center-point:after
        {
            left: 50%;
            right: auto;
        }

        .tip-bubble-left-point:after
        {
            left: 10px;
            right: auto;
        }

        .tip-bubble-right-point:after
        {
            right: 10px;
            left: auto;
        }

        .tip-arrow-top:after
        {
            border-bottom: solid 8px;
            border-right: solid 8px transparent;
            border-left: solid 8px transparent;
            bottom: 100%;
        }

        .tip-arrow-bottom:after
        {
            border-top: solid 8px;
            border-right: solid 8px transparent;
            border-left: solid 8px transparent;
            top: 100%;
        }

        .tip-theme-light:after
        {
            border-bottom-color: #fff;
            border-top-color: #fff;
        }

        .tip-theme-dark:after
        {
            border-bottom-color: #000;
            border-top-color: #000;
        }