/* FONTS IMPORTED */
@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    scroll-behavior: smooth;
}
#heading {
    position: relative;
    font-size: 75px;
    padding: 5px 0px;
    font-family: "Yeon Sung", "CarrickDancing", serif;
    text-align: center;
    justify-content: center;
}
#heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    height: 100%;
    margin: 0;
    /* background-repeat: no-repeat; */
    background: linear-gradient(to bottom, rgba(252, 92, 124, 0.438), rgba(106, 130, 251, 0.038));
}

/*Navigation Bar: List Stying */
#navbar {
    font-family: "Yeon Sung", "Hind", sans-serif;
    position: sticky;
    display: flex;
    /* flex-wrap: wrap; no need*/
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
}
#navbar ul {
    display: flex;
    flex-flow: row wrap;
}
#navbar ul li {
    list-style: none;
    font-size: 2rem;
}
#navbar ul li a {
    display: block;
    color: white;
    padding: 4px 23px;
    text-decoration: none;
}
#navbar ul li a:hover {
    background-color: #db31ffed;
}

/*Main body*/
/*Contact*/
h1.h1 {
    text-align: center;
    font-size: 70px;
    font-family: cursive;
    font-weight: 100;
}
#contact {
    position: relative;
}
#contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}
#contact-box label {
    margin: 3px 3px;
}
#contact-box input,
#contact-box textarea {
    padding: 2px 6px;
    height: 30px;
    width: 100%;
    margin: 3px 6px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 15px 1px rgb(233, 209, 209);
}
#submitButton {
    background-color: #5027dd7a;
    cursor: pointer;
}
.form-group {
    padding: 3px;
}
.form-group label {
    color: rgb(22, 41, 94);
    font-weight: 600;
}
form {
    width: 70%;
}

/*Footer*/
#footer {
    display: block;
    /* background-color: #f8def8; */
    background-color: #222122;
    color: white;
    text-align: center;
}
#footer p {
    font-size: 18px;
    padding: 13px 0px;
}

/*Media Query*/
@media all and (max-width: 425px) {
    #heading {
        font-size: 40px;
    }
    #navbar ul {
        flex-direction: column;
    }
    ul li a {
        font-size: 18px;
    }
    #main_heading #main {
        flex-direction: column;
    }
    #main_heading {
        font-size: 43px;
        font-weight: 600;
    }
}
