extends extenderBase.pug

block style
    style
        include ../assets/StyleClasses.css
block content
    h1.h1 Class timings
    div#classesTiming 
        div
            h2 Morning classes
            div.eachTiming
                div 10:00 am -- 11:00 pm
                div 11:30 am -- 01:00 pm
                div 01:30 pm -- 3:00 pm 
                    i (new batch)
        div
            h2 Evening classes
            div.eachTiming
                div 3:30 pm -- 5:00 pm
                div 05:30 pm -- 07:00 pm
                div 7:30 pm -- 9:00 pm

    div#newBatchSoon(style="font-size:23px; font-family:Yeon Sung") New batches soon