doctype html
html
    head
        title #{title}
        block style
    body
        div#heading Pandey Dance Academy
        nav#navbar
            ul
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/apply">Apply</a></li>
                <li class="item"><a href="/class_info">Classes</a></li>
                <li class="item"><a href="/#sponsers">Sponsers</a></li>
                <li class="item"><a href="/Contact">Contact</a></li>
        block content
        footer#footer
            p Copyright @2020 | Pandey Dance Academy.com | All right reserved