<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  //- <link rel="stylesheet" href="Style.css">
  <title>Dance india dance</title>
  style
    include ../assets/Style.css
</head>
<body>
  div#heading
    | Pandey Dance Academy
  nav#navbar
    ul
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="/apply">Apply</a></li>
      <li class="item"><a href="/class_info">Classes</a></li>
      <li class="item"><a href="/#sponsers">Sponsers</a></li>
      <li class="item"><a href="/Contact">Contact</a></li>
  section#lookImg
    div  Welcome to Pandey Dance Academy.com
      p Free feel to dance and dance to feel free.
  div#main_heading Types of Dance Styles
    section#main
      div.card 
        h2 Hip Hop
        div.candance
          div.imges
            <img src="/assets/pictures/logo-1.png" alt="">
          div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      div.card 
        h2 Zumbaa
        div.candance
          div.imges
            img(src="/assets/pictures/logo-2.png" alt="" srcset="")
          div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
      div.card 
        h2 Free Dancing
        div.candance
          div.imges
            img(src="/assets/pictures/logo-3.png" alt="" srcset="")
          div 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  section#sponsers
    h2 Sponsers
    div 
      div <img src="/assets/pictures/amaz.png" alt="" srcset="">
      div <img src="/assets/pictures/fb.png" alt="" srcset="">
      div <img src="/assets/pictures/AWS.png" alt="" srcset="">
      div <img src="/assets/pictures/aws2.png" alt="" srcset="">
      div <img src="/assets/pictures/Vic.png" alt="" srcset="">
  section#about
    div 
    p 
      b Address: 
      span Building no-43, near mate park, Saket, new Delhi-110002
    p 
      b Date of Stablished:
      span 15 January 1998
    p 
      b Owner: 
      i Ujjwal Pandey
    p 
      b Mail: 
      span PandeyDanceAcademy@gmail.com
    p 
      b Contact no: 
      span 001-987-543 , +91-987654321

  footer#footer
    p Copyright @2020 | Pandey Dance Academy.com | All right reserved

</html>